<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="https://maximemoreillon.com/web_components/modals/modals.css" type="text/css">
  <script src="https://maximemoreillon.com/web_components/modals/modals.js"></script>
  <script src="js/devices_template.js"></script>
  <script src="js/manage_devices.js"></script>
</head>
<body>

  <div class="wrapper">
    <main>
      <div id="floorplan_wrapper" class="floorplan_wrapper">
        <img id="floorplan" class="floorplan" src="images/floorplan/floorplan.svg">

        <!-- Image of the new device -->
        <span id="new_device" class="mdi mdi-plus-circle-outline"></span>

        <!-- The modal for the new device -->
        <div id="device_modal" class="device_modal">
          <div>Add / Edit device</div>

          <!-- Select type of device -->
          <div>
            <label for="type">Device type: </label>
            <select id="type_select" name="type" onchange="create_specific_inputs()">
              <option value="" selected disabled hidden>Type</option>
              <!-- This is filled by JS -->
            </select>
          </div>

          <!-- General properties -->
          <input type="hidden" id="id_input" >
          <input type="hidden" id="position_x_input">
          <input type="hidden" id="position_y_input">

          <div id="specific_properties_inputs_container">
            <!-- Filled by JS -->
          </div>

          <!-- Buttons -->
          <div>
            <input type="button" id="add_button" value="Create" onclick="add_device_in_back_end()">
            <input type="button" id="submit_button" value="Submit" onclick="edit_device_in_back_end()">
            <input type="button" id="delete_button" value="Delete" onclick="delete_device_in_back_end()">
            <input type="button" id="cancel_button" value="Cancel" onclick="close_all_modals()">
          </div>

        </div>

      </div><!-- end of floorplan wrapper -->

      <div class="controls">
        <img class="control" id="toggle_edit_button" src="images/icons/pencil.svg" onclick="toggle_edit_mode(this)">
      </div>

    </main>
  </div> <!-- End of wrapper -->

  <!-- Modals -->
  <!-- Modal for connection -->
  <div id="disconnected_modal" class="modal_wrapper">
    <div class="modal_container">
      NO CONNECTION
    </div>
  </div>

  <div id="camera_modal" class="modal_wrapper" onclick="close_camera_modal_by_background_click(this, event)">
    <div class="modal_container">
      <img id="camera_image" src="images/devices/cctv.svg">
    </div>
  </div>

  <div id="sensor_modal" class="modal_wrapper" onclick="close_modal_by_background_click(this, event)">
    <div class="modal_container">
      <div id="sensor_modal_content"></div>
    </div>
  </div>



</body>
</html>
