<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>

  <link rel="stylesheet" type="text/css" href="css/show_devices.css">

</head>
<body>

  <div class="wrapper">

    <header>
      <% include partials/header %>
    </header>

    <main>
      <div id="floorplan_wrapper" class="floorplan_wrapper">
        <img id="floorplan" class="floorplan" src="images/floorplan.svg">
      </div>
    </main>

    <div class="controls">
      <!--<input type="button" value="Manage entities" onclick="window.location.href='manage_devices'">-->
    </div>

    <footer>
      <% include partials/footer %>
    </footer>

  </div> <!-- End of wrapper -->

  <!-- Modal for connection -->
  <div id="disconnected_modal" class="modal">
    <div class="modal-content">
      NO CONNECTION
    </div>
  </div>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="js/handle_ws.js"></script>

</body>
</html>
