<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SHCP</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="images/logo/logo.png">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <link rel="stylesheet" href="css/vue_modals.css" type="text/css">
  <link rel="stylesheet" href="https://webcomponents.maximemoreillon.com/modals/modals.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.0/c3.min.css">

  <!-- JS -->
  <script src="https://webcomponents.maximemoreillon.com/ie_polyfill/ie_polyfill.js"></script> <!-- Compatibility for array includes in IE (Surface RT) -->
  <script src="https://webcomponents.maximemoreillon.com/modals/modals.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.0/c3.min.js"></script>

</head>
<body>
  <div id="app">

    <div class="main">
      <div id="floorplan_wrapper" class="floorplan_wrapper">

        <!-- floorplan -->
        <img id="floorplan" class="floorplan" src="images/floorplan/floorplan.svg" v-on:click="floorplan_clicked">

        <!-- devices -->
        <!-- Dynamic Vue.js component -->
        <component
          v-for="device in devices"
          v-bind:key="device._id"
          v-bind:is="device.type"
          v-bind:device="device"
          v-bind:edit_mode="edit_mode"
        ></component>

        <!-- new device (show an icon where the new device will be) -->
        <new-device
          v-bind:device="new_device"
          v-bind:show="show_new_device"
          v-bind:modal_open="new_device_modal_open"
          v-on:close_new_device_modal="close_new_device_modal"
        ></new-device>

      </div><!-- end of floorplan wrapper -->

      <!-- Button to enable edit mode -->
      <div>
        <button v-on:click="toggle_edit_mode">Toggle edit mode</button>
      </div>


    </div><!-- end of main -->


    <!-- Modals -->
    <div id="sensor_modal" class="modal_wrapper" onclick="close_modal_by_background_click(this, event)">
      <div class="modal_container">
        <div id="sensor_modal_content">

        </div>
      </div>
    </div>

    <!-- Modal for connection -->
    <div id="disconnected_modal" class="modal_wrapper">
      <div class="modal_container">
        NO CONNECTION
      </div>
    </div>

    <div id="camera_modal" class="modal_wrapper" onclick="close_camera_modal_by_background_click(this, event)">
      <div class="modal_container">
        <img id="camera_image" src="images/devices/cctv.svg">
      </div>
    </div>



  </div><!-- End of app -->




  <script src="js/devices.js"></script>
  <script src="js/vue_app.js"></script>
  <script src="js/handle_websockets.js"></script>

</body>
</html>
