<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>

  <link rel="stylesheet" type="text/css" href="css/show_devices.css">

</head>
<body>

  <div class="wrapper">

    <header>
      <% include partials/header %>
    </header>

    <main>
      <div id="floorplan_wrapper" class="floorplan_wrapper">
        <img id="floorplan" class="floorplan" src="images/floorplan/floorplan.svg">

        <!-- Image of the new device -->
        <div id="new_device" class="device_wrapper">
          <img id="new_device_image" class="device_image" src="images/devices/light_off.svg">
        </div>

        <!-- The modal for the new device -->
        <div id="device_modal" class="device_modal">
          <div class="device_modal_inner"> <!-- No idea why this div is needed -->

            Add / Edit device<br><br>

            <!-- Select type of device -->
            <!-- This will decide what info is relevant to ask -->
            <select id="type_select" onchange="update_device_image(this)" name="type">
              <option value="" selected disabled hidden>Type</option>
              <option value="light">Light</option>
              <option value="lock">Lock</option>
              <option value="fan">Fan</option>
              <option value="temperature">Temperature sensor</option>
              <option value="humidity">Humidity sensor</option>
              <option value="camera">Camera</option>
              <option value="other">Other</option>
            </select><br>

            <!-- Info common to all devices -->
            <input type="hidden" id="id_input" name="id" >
            <input type="hidden" id="position_x_input" name="position_x">
            <input type="hidden" id="position_y_input" name="position_y">


            <div id="specific_data_inputs">

              <!-- MQTT info -->
              <input class="specific_input" type="text" id="status_topic_input" name="status_topic" placeholder="Status topic"><br>
              <input class="specific_input" type="text" id="command_topic_input" name="command_topic" placeholder="Command topic"><br>
              <input class="specific_input" type="text" id="payload_on_input" name="payload_on" placeholder="Payload ON"><br>
              <input class="specific_input" type="text" id="payload_off_input" name="payload_off" placeholder="Payload OFF"><br>

              <!-- Camera info -->

            </div>

            <!-- Buttons -->
            <input type="button" id="add_button" value="Create" onclick="add_device_ws()">
            <input type="button" id="submit_button" value="Submit" onclick="edit_device_ws()">
            <input type="button" id="delete_button" value="Delete" onclick="delete_device_ws()">
            <input type="button" id="cancel_button" value="Cancel" onclick="close_modal()">

          </div>
        </div>

      </div>
    </main>

    <div class="controls">
      <!--<input type="button" value="Manage entities" onclick="window.location.href='manage_devices'">-->
      <input type="image" src="images/icons/edit.svg" onclick="toggle_edit_mode(this)">
    </div>

    <footer>
      <% include partials/footer %>
    </footer>

  </div> <!-- End of wrapper -->

  <!-- Modals -->
  <!-- Modal for connection -->
  <div id="disconnected_modal" class="modal">
    <div class="modal_content">
      NO CONNECTION
    </div>
  </div>

  <!-- Sensor info modal -->
  <div id="sensor_info_modal" class="modal">
    <div class="modal_content">
      Sensor info
      <div id="sensor_info">
      </div><br>
      <input type="button" id="cancel_button" value="Cancel" onclick="close_modal()">
    </div>
  </div>

  <!-- Camera modal -->
  <div id="camera_modal" class="modal">
    <div class="modal_content">
      <img src="images/devices/cctv.svg"><br><br>
      Video feed unavailable<br><br>
      <input type="button" id="cancel_button" value="Cancel" onclick="close_modal()">
    </div>
  </div>



  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="js/devices_icons.js"></script>
  <script src="js/handle_inbound_ws.js"></script>
  <script src="js/handle_outbound_ws.js"></script>
  <script src="js/misc.js"></script>
</body>
</html>
