<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>

  <link rel="stylesheet" type="text/css" href="css/show_devices.css">

</head>
<body>

  <div class="wrapper">

    <header>
      <% include partials/header %>
    </header>

    <main>
      <div id="floorplan_wrapper" class="floorplan_wrapper">
        <img id="floorplan" class="floorplan" src="images/floorplan/floorplan.svg">

        <!-- Image of the new device -->
        <div id="new_device_wrapper" class="device_wrapper">
          <img id="new_device_image" class="device_image" src="images/devices/light_off.svg">
        </div>

        <!-- The modal for the new device -->
        <div id="add_device_modal" class="device_modal">
          <div class="device_modal_inner"> <!-- No idea why this div is neede -->
            Add device <br>
            <select id="add_type_select" onchange="update_new_device_image(this)">
              <option value="light">Light</option>
              <option value="lock">Lock</option>
              <option value="climate">Climate control</option>
              <option value="other">Other</option>
            </select><br>
            <input type="hidden" id="add_position_x_input" name="position_x">
            <input type="hidden" id="add_position_y_input" name="position_y">
            <input type="text" id="add_status_topic_input" name="status_topic" placeholder="Status topic"><br>
            <input type="text" id="add_command_topic_input" name="command_topic" placeholder="Command topic"><br>
            <input type="text" id="add_payload_on_input" name="payload_on" placeholder="Payload ON"><br>
            <input type="text" id="add_payload_off_input" name="payload_off" placeholder="Payload OFF"><br>
            <input type="button" id="add_submit_button" value="Submit" onclick="add_device_ws()"><br>
            <input type="button" id="add_cancel_button" value="Cancel" onclick="close_modals()">
          </div>
        </div>

        <!-- The modal to remove a device -->
        <div id="edit_device_modal" class="device_modal">
          <div class="device_modal_inner"> <!-- No idea why this div is neede -->
            Edit device <br>
            <input type="hidden" id="edit_id_input" name="id" ><br>
            <select id="edit_type_select">
              <option value="light">Light</option>
              <option value="lock">Lock</option>
              <option value="climate">Climate control</option>
              <option value="other">Other</option>
            </select><br>
            <!-- No need for location, device already here, but need ID for delete-->
            <input type="text" id="edit_status_topic_input" name="status_topic" placeholder="Status topic"><br>
            <input type="text" id="edit_command_topic_input" name="command_topic" placeholder="Command topic"><br>
            <input type="text" id="edit_payload_on_input" name="payload_on" placeholder="Payload ON"><br>
            <input type="text" id="edit_payload_off_input" name="payload_off" placeholder="Payload OFF"><br>
            <input type="button" id="edit_submit_button" value="Submit" onclick="edit_device_ws()"><br>
            <input type="button" id="edit_cancel_button" value="Cancel" onclick="close_modals()"><br>
            <input type="button" id="edit_delete_button" value="Delete" onclick="delete_device_ws()">
          </div>
        </div>

      </div>
    </main>

    <div class="controls">
      <!--<input type="button" value="Manage entities" onclick="window.location.href='manage_devices'">-->
      <input type="image" src="images/icons/edit.svg" onclick="toggle_edit_mode(this)">
    </div>

    <footer>
      <% include partials/footer %>
    </footer>

  </div> <!-- End of wrapper -->

  <!-- Modal for connection -->
  <div id="disconnected_modal" class="modal">
    <div class="modal_content">
      NO CONNECTION
    </div>
  </div>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="js/handle_inbound_ws.js"></script>
  <script src="js/handle_outbound_ws.js"></script>

</body>
</html>
