<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<div class="main_wrapper">


		<main>
			<% if( typeof error !== "undefined"){ %>
        <div class="login_error_message">
          <%= error %>
        </div>
      <% } %>
			<div class="login_form">
			  <form method="post" action="/login">
		      <input type="text" name="user" placeholder="Username"><br>
		      <input type="password" name="password" placeholder="Password"><br>
		      <input type="submit" value="Login">
			  </form>
			</div>
		</main>

	</div>
</body>
</html>
