<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>

	<!-- Change this to something more relevant -->
	<div id="app">


		<main>

			<!-- Embed everything into a form to avoid unnecessary divs -->
		  <form class="login_form" method="post" action="/login">

				<% if(typeof error_message !== 'undefined'){%>
				<div class="login_error_message">
						<%= error_message %>
	      </div>
        <%}%>

	      <input type="text" name="user" placeholder="Username"><br>
	      <input type="password" name="password" placeholder="Password"><br>
	      <input type="submit" value="Login">

		  </form>

		</main>

	</div>
</body>
</html>
