<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>

  <!-- Additional stylesheets -->
  <!-- <link rel="stylesheet" type="text/css" href="css/show_devices.css"> -->

</head>
<body>

  <div class="wrapper">

    <header>
      <% include partials/header %>
    </header>

    <main>
      <table>
        <!-- Headers row -->
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>

        <% for(var property in device_properties){ %>
        <tr>
          <td><%= property %></td>
          <td><%= device_properties[property] %></td>
        </tr>
        <% } %>

      </table>

    </main>


  </div> <!-- End of wrapper -->

</body>
</html>
