
.modal_wrapper{

  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  /* sizing */
  height: 100%;
  width: 100%;

  /* Coloring */
  background-color: #333333aa;

  /* flex for inner elements */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Stuff that varies with JS */
  /* visibility instead of display because of transitions */
  /* This changes at the end of the transition */
  visibility: hidden;

  /* Opacity of modal container background */
  opacity: 0;
  /* End of stuff that varies with JS */

  /* animations */
  transition: 0.5s;
}

.modal_container{
  /* Relative position for close button positioning */
  position: relative;

  /* Stuff that changes with JS */
  /* Do not show content by default */
  opacity: 0;

  /* sizing */
  width: 25%;
  /* End of stuff that varies with JS */

  /* animations */
  transition: 0.5s;

  /* Additional stuff, not necessary for function */
  padding: 25px;

  /* Misc visuals */
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}


.modal_close_button {

  /* positioning */
  position: absolute;

  /* Top right corner */
  right: 0;
  top: 0;

  padding: 25px;

  /* visuals */
  cursor: pointer;
  font-size: 150%;
}

.modal_title {
  font-size: 150%;
  margin-bottom: 5px;
}
