.floorplan_wrapper {
  position: relative; /* needs to be relative */
}

.floorplan {
  max-width: 600px;
  max-height: 600px;
}

.device_wrapper {
  position: absolute;

  width: 30px;
  height: 30px;
}

.device_image {
  position: relative;

  width: 100%;
  height: 100%;

  left: -50%;
  top: -50%;
}

.device_edit {

  animation-name: wiggle;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes wiggle {
    0%  {transform: rotate(0deg);}
    25% {transform: rotate(-15deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(15deg);}
    100% {transform: rotate(0deg);}
}


#new_device{
  display: none;
}
