:root {
  --accent_color: #ce0000;
}

* {
    box-sizing: border-box;
}

body {

	margin: 0px;
  min-height: 100vh;


	/* flex */
	display: flex;
	justify-content: center;
	align-items: stretch;

	/* visuals */
	background-color: #cccccc;

	/* text */
	font-family: Verdana, Geneva, sans-serif;

}

.wrapper {

	/* sizing */
	margin: 25px;
	width: 100%;
	max-width: 1000px;

	/* Grid */
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'footer';
	grid-template-columns: auto;
	grid-template-rows: 125px auto 80px;

	/* additional visuals */
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

header {

	grid-area: header;

	/* flex */
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 25px;

	/* misc visuals */
	background: #222222;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo_wrapper {
	width: 75px;
	height: 75px;
}

.logo {

	max-height:100%;
	animation: rotating 50s linear infinite;
}

@keyframes rotating {
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);}
}

.title {
	font-size: 200%;
	color: white;
}


main {
	grid-area: main;

	padding: 30px;

}

.floorplan_wrapper_outer {

  /* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.floorplan_wrapper {

  /* needs to be relative for device positioning */
  position: relative;
}

.floorplan {

  width: 30vmin;

}

.device_wrapper {
  position: absolute;

  width: 5vmin;
  height: 5vmin;
}

.device_image {

  /* ensure above rest */
  z-index: 100;

  /* as big as its container */
  width: 100%;
  height: 100%;

  /* image location set by its center */
  position: relative;
  left: -50%;
  top: -50%;

  cursor: pointer;
}

.device_edit {

  animation-name: wiggle;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes wiggle {
  0%  {transform: rotate(0deg);}
  25% {transform: rotate(-15deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(15deg);}
  100% {transform: rotate(0deg);}
}


#new_device{
  display: none;
}



.login_form{
	text-align: center;
}



footer {

	grid-area: footer;

	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	padding: 10px;

	/* visuals */
	background: #666666;
	color: white;
}

.device_modal {

	/* Hidden by default */
  display: none;

	/* Position: absolute allows JS to display it wherever */
  position: absolute;

	/* Be on top of devices */
	z-index: 10;

}

.device_modal_inner {

	width: 200px;

	position: absolute;
	top: 20px;
	left: 20px;


  padding: 10px;

	text-align: center;

	background: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.device_modal_inner input[type="text"], .device_modal_inner select {
	width: 80%;
	margin: 5px;
}


/* The Modal (background) */
.modal {
	display: none;

	justify-content: center;
	align-items: center;

  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
		text-align: center;
}

.modal_content img {
	max-width: 80%;
}


.login_form {
	text-align: center;
}

.login_form input {
	width: 200px;
	height: 30px;
	margin: 5px;
}

.controls {
	text-align: center;
}

input[type="image"]{
	width: 30px;
	height: 30px;

}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0;
  }
}
