:root {
  --accent_color: #ce0000;
}

* {
    box-sizing: border-box;
}

body {

	margin: 0px;

  /* doesn't work well on mobile */
  min-height: 100vh;

	/* flex */
	display: flex;
	justify-content: center;
	align-items: flex-start;

	/* visuals */
	background-color: #cccccc;

	/* text */
	font-family: Verdana, Geneva, sans-serif;

}

.wrapper {

	margin: 25px;

  width: 100%;
  max-width: 500px;

	/* additional visuals */
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

header {

	/* flex */
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 25px;

	/* misc visuals */
	background: #222222;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo_container {
	width: 75px;
	height: 75px;
  overflow: hidden;
}

.logo {
	max-height:100%;
	animation: rotating 50s linear infinite;
}

@keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.title {
	font-size: 200%;
	color: white;
}


main {

}

main > div {

  margin: 25px;
}

.floorplan_wrapper {

  /* needs to be relative for device positioning */
  position: relative;
}

.floorplan {
  /* This is an <img> */
  /* fit the container width */
  width: 100%;
}


.device, #new_device {

  /* ensure above rest */
  z-index: 10;

  /* positioning */
  position: absolute;

  /* Position by center and not by corner */
  transform: translate(-50%,-50%);

  /* Misc visual */
  cursor: pointer;
  color: #535353;
  transition: color 0.5s;
  font-size: 5vmin;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vmin;
  height: 8vmin;
}

.on {
  color: var(--accent_color);
}

#new_device {
  display: none;
}

#camera_image {
  width: 90%;
  max-height: 90vh;
}

.device_edit {
  animation-name: wiggle;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%  {transform: translate(-50%,-50%) rotate(0deg);}
  25% {transform: translate(-50%,-50%) rotate(-15deg);}
  50% {transform: translate(-50%,-50%) rotate(0deg);}
  75% {transform: translate(-50%,-50%) rotate(15deg);}
  100% {transform: translate(-50%,-50%) rotate(0deg);}
}



.login_form{
	text-align: center;
}



footer {

	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	padding: 10px;

	/* visuals */
	background: #666666;
	color: white;
}


/* MODALS */
.device_modal {

	/* Hidden by default */
  display: none;

	/* Position: absolute allows JS to display it wherever */
  position: absolute;

	/* Be on top of devices */
	z-index: 100;

  width: 90%;

  margin-top: 30px;

  flex-direction: column;
  align-items: stretch;

  /* visuals */
  background: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.device_modal > div {
  margin: 5px;
}

.specific_properties_inputs_container{
  display: flex;
}

#specific_properties_inputs_container > div{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#specific_properties_inputs_container input{
  width: 60%;
}

.login_form {
	text-align: center;
}

.login_form input {
	width: 200px;
	height: 30px;
	margin: 5px;
}

.controls {
	text-align: center;
}

.control {

  cursor: pointer;

	width: 30px;
	height: 30px;

}

@media screen and (max-width: 768px) {
  /* for small displays */
  .wrapper {
    /* remove margins */
    margin: 0;
  }
  header {
    padding: 10px;
  }
  .logo_container{
    width: 40px;
    height: 40px;
  }
  .title{
    font-size: 125%;
  }
}
