:root {
  --accent_color: #ce0000;
}

* {
    box-sizing: border-box;
}

body {

	margin: 0px;

  /* doesn't work well on mobile */
  min-height: 100vh;

	/* flex */
	display: flex;
	justify-content: center;
	align-items: flex-start;

	/* visuals */
	background-color: #cccccc;

	/* text */
	font-family: Verdana, Geneva, sans-serif;

}

.wrapper {

	margin: 25px;

  width: 100%;
  max-width: 800px;

	/* Grid */
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'footer';
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;

	/* additional visuals */
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

header {

	grid-area: header;

	/* flex */
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 25px;

	/* misc visuals */
	background: #222222;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo_container {
	width: 75px;
	height: 75px;
  overflow: hidden;
}

.logo {
	max-height:100%;
	animation: rotating 50s linear infinite;
}

@keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.title {
	font-size: 200%;
	color: white;
}


main {
	grid-area: main;
	padding: 50px 100px;
}

.floorplan_wrapper_outer {
  /* flex for centering */
	display: flex;
	align-items: flex-start;
	justify-content: center;

}

.floorplan_wrapper {
  /* needs to be relative for device positioning */
  position: relative;

  /* Prevent device images from overflowing */
  /* overflow: hidden; */

  width: 70%;
}

.floorplan {
  /* This is an <img> */

  /* Sizing to full available space*/
  width: 100%;

}


.device_image {

  /* ensure above rest */
  z-index: 10;

  /* positioning */
  position: absolute;

  /* Position by center and not by corner */
  transform: translate(-50%,-50%);

  /* Sizing */
  width: 8%;

  /* Misc visual */
  cursor: pointer;

  /* if icon */
  /* transition: color 0.5s; */
  /* font-size: 300%; */
}

.device_edit {
  animation-name: wiggle;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%  {transform: translate(-50%,-50%) rotate(0deg);}
  25% {transform: translate(-50%,-50%) rotate(-15deg);}
  50% {transform: translate(-50%,-50%) rotate(0deg);}
  75% {transform: translate(-50%,-50%) rotate(15deg);}
  100% {transform: translate(-50%,-50%) rotate(0deg);}
}


#new_device_image{
  display: none;
}



.login_form{
	text-align: center;
}



footer {

	grid-area: footer;

	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	padding: 10px;

	/* visuals */
	background: #666666;
	color: white;
}


/* MODALS */
.device_modal {

	/* Hidden by default */
  display: none;

	/* Position: absolute allows JS to display it wherever */
  position: absolute;

	/* Be on top of devices */
	z-index: 100;

}

.device_modal_inner {

	width: 200px;

	position: absolute;
	top: 20px;
	left: 20px;

  padding: 10px;

	text-align: center;

	background: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.device_modal_inner input[type="text"], .device_modal_inner select {
	width: 80%;
	margin: 5px;
}


.login_form {
	text-align: center;
}

.login_form input {
	width: 200px;
	height: 30px;
	margin: 5px;
}

.controls {
	text-align: center;
}

.control {

  cursor: pointer;

	width: 30px;
	height: 30px;

}

@media screen and (max-width: 768px) {
  /* for small displays */
  .wrapper {
    /* remove margins */
    margin: 0;
  }
  header {
    padding: 10px;
  }
  .logo_container{
    width: 40px;
    height: 40px;
  }
  .title{
    font-size: 125%;
  }
  main {
    padding: 25px 0;
  }
}
