.modal_wrapper{

  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  /* sizing */
  width: 100vw;
  height: 100vh;

  /* Coloring */
  background-color: #333333; /* fallback for IE*/
  background-color: #333333aa;


  /* flex for inner elements */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Stuff that varies with JS */
  /* visibility instead of display because of transitions */
  /* This changes at the end of the transition */
  visibility: hidden;

  /* Opacity of modal container background */
  opacity: 0;
  /* End of stuff that varies with JS */

  /* animations */
  transition: visibility 0.5s;
  transition: opacity 0.5s;
}

.modal_container {
  /* Relative position for close button positioning */
  position: relative;
  z-index: 12;

  /* Stuff that changes with animations */
  /* Do not show content by default */
  opacity: 0;

  /* sizing */
  width: 20vw;
  /* End of stuff that varies with animations */

  /* animations */
  transition: 0.5s;

  /* Prevent size change when resizing*/
  white-space: nowrap;
  overflow-x: hidden;

  /* Additional stuff, not necessary for function */
  padding: 25px;
  /* content disposition */
  text-align: center;
  /* Misc visuals */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


.modal_wrapper_visible {
  visibility: visible;
  opacity: 1;
}

.modal_container_visible {
  width: 80vw;
  opacity: 1;
}


.modal_content {
  white-space: nowrap;
  overflow-x: hidden;
}

/* Misc modal items */
.modal_close_button {

  /* positioning */
  position: absolute;

  /* Top right corner */
  right: 0;
  top: 0;

  padding: 25px;

  /* visuals */
  cursor: pointer;
  font-size: 150%;
}

.modal_title {
  font-size: 150%;
  margin-bottom: 5px;
}
